
<div id="title"> Share files for One hour!</div> 
 <%@errors && @errors.each do |error| %>
 <div class="error_message">
 <%=error%>
 </div>

 <%end%>
<%=form_for @project, :html => { :multipart => true } do |f| %>

<p >
	<span class="step_1">1. </span>
	<span class="description">Choose a file ( less than 20MB ): </span>
   <%= f.file_field :avatar %>
</p>
<p >
	<span class="step_1">2. </span>
	<span class="description"> Press </span>
   <%= f.submit "Upload",:id=>"upload_button" %>
</p>

    
  <% end %>
