<div class="url-display">
    <div class="title-text">Here is your download url. This link will expire in one hour.</div> 
    <span class="view-url"><%= link_to "#{@url}", @url %></span> 
    <br>
    <br>
    <a href="/" class="link">Upload another file</a>
  </div>